#login {
    width: 100px;
    /*aumenta a largura*/
    height: 40px;
    /*aumentar a altura*/
    background-color: red;
    color: #ffffff;
    border-radius: 20px;
    /*torna as bordas redondas*/
    border: none;
    /*tira as bordas*/
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#navbar {

    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    height: 600px;
    width: 600px;
}

.texto-banner{
    font-size: 60px;
    font-weight:bolder;
}

.caixa-texto{
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}

.caixa-estrutura{
    display: flex;
    flex-direction: row;

}

.titulo{
    display: flex;
    align-items: center;
}

#food{
    color: rgb(206, 46, 46);
}

#btn-get{
    width: 100px;
    /*aumenta a largura*/
    height: 40px;
    /*aumentar a altura*/
    background-color: red;
    color: #ffffff;
    border-radius: 20px;
    /*torna as bordas redondas*/
    border: none;
    /*tira as bordas*/  
}

.titulo-secundario{
    color: red;
    font-weight: 500;

}

.caixatitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    width: 400px;  
    margin: 50px;
    height: 40px;
}

.titulo-primario{
    font-weight: bolder;
    font-size: 40px;
}

.caixa-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   width: 100%;
}
.class-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}
.caixa-frente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#imagem1 {
    width: 200px;
}

.pizza-estrutura {
    text-align: center;
    padding: 20px;
  }
  
  .caixa-pizza {
    display: flex;
    justify-content:center;
    gap: 90px; 
    flex-wrap: wrap; 
  }
  
  .caixa-imagem {
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 80px;
  }
  
  .caixa-imagem img {
    width: 250px;
    height:350px;
    border-radius: 20px;
  }
  

.titulo2{
    color: red;
    font-weight: 500;  
}

.texto2{
    font-weight: bolder;
    font-size: 40px;
    width: 450px;
}
  
.titulo-sub{
    display: flex;
    flex-direction: column;
   justify-content: center;
   text-align: start;
}

.texto-venda{
    font-weight: bolder;
    font-size: 15px;
}

 .caixa-valor{
    color: #ffffff;
    margin-top: -100px;
    background-color: aquamarine;
    height: 100px;
 }


.titulo-principal{
    color: black;
    font-weight: 700;  
}

 .rodape{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: start;
    gap: 1;
    margin-top: 40px;
 }

 .texto-rodape{
    margin-top: 25px;
 }

 .caixa-aviso{
    width: 250px;
 }

 #btn-rodape{
    width: 170px;
    height: 40px;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    font-weight: 500;
   
   
   
 }
